---
title: '👍 {{ name }}'
date: {{ published }}
like-of: {{ likeOf }}
link: {{ likeOf }}
category:
- "social"
- "Like"
{%- if category %}
tag:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}
{%- if syndicateTo %}
syndicate-to:
{%- for item in syndicateTo %}
- {{ item }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}
