---
date: {{ published }}
category:
- social
- Photo
{%- if category %}
tag:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}
gallery:
{%- for item in photo %}
- image_path: https://images.weserv.nl/?url={{ item.value }}&w=600
  url: {{ item.value }}
  title: {{ item.alt }}
  alt: {{ item.alt }}
{%- endfor %}
{%- if syndicateTo %}
syndicate-to:
{%- for item in syndicateTo %}
- {{ item }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}